<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Google與本地登入系統</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">首頁</a></li>

        <!-- 用if來判斷如果沒有user的話代表沒有登入，那就要給這兩個li標籤，如果有的話代表有登入，那就不要有這兩個標籤 -->
        <% if(!user){ %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">會員登入</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">註冊會員</a>
        </li>
        <% } %>

        <!-- 用if來判斷如果有user的話代表有登入，那就要給這三個li標籤，如果沒有的話代表沒有登入，那就不要有這兩個標籤 -->
        <!-- 因為這三個標籤的a標籤所指向的route的功能都應該是要有登入才能使用的 -->
        <% if(user){ %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">登出系統</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">個人檔案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/post">製作新的Post</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
